<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.system" android:versionCode="15" android:versionName="4.0.4-LG-LU6200-V167.1c2df587db" package="com.lge.settings.compatmode"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="15" />
    <application android:theme="@style/Theme_Settings" android:label="@string/sp_screen_optimization_NORMAL" android:icon="@drawable/icon" android:process="com.android.settings">
        <activity android:name=".CompatibilityMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>
