<?xml version="1.0" encoding="UTF-8"?>
<parameters>
 <parameter db="secure" name="bluetooth_on">0</parameter>
 <parameter db="secure" name="data_roaming">0</parameter>
 <parameter db="secure" name="install_non_market_apps">0</parameter>
 <parameter db="secure" name="mobile_data">1</parameter>
 <parameter db="secure" name="access_point_conversion">0</parameter>
 <parameter db="secure" name="location_providers_allowed">gps</parameter>
 <parameter db="secure" name="assisted_gps_enabled">1</parameter>
 <parameter db="secure" name="network_preference">1</parameter>
 <parameter db="secure" name="usb_mass_storage_enabled">1</parameter>
 <parameter db="secure" name="wifi_on">0</parameter>
 <parameter db="secure" name="wifi_networks_available_notification_on">1</parameter>
 <parameter db="secure" name="wifi_ap_default_status">0</parameter>
 <parameter db="secure" name="preferred_network_mode">10</parameter>
 <parameter db="secure" name="cdma_cell_broadcast_sms">1</parameter>
 <parameter db="secure" name="mock_location">0</parameter>
 <parameter db="secure" name="backup_enabled">0</parameter>
 <parameter db="secure" name="backup_transport">com.google.android.backup/.BackupTransportService</parameter>
 <parameter db="secure" name="mount_play_not_snd">1</parameter>
 <parameter db="secure" name="mount_ums_autostart">0</parameter>
 <parameter db="secure" name="mount_ums_prompt">1</parameter>
 <parameter db="secure" name="mount_ums_notify_enabled">1</parameter>
 <parameter db="secure" name="accessibility_script_injection">0</parameter>
 <parameter db="secure" name="accessibility_web_content_key_bindings">0x13=0x01000100; 0x14=0x01010100; 0x15=0x02000001; 0x16=0x02010001; 0x200000013=0x02000601; 0x200000014=0x02010601; 0x200000015=0x03020101; 0x200000016=0x03010201; 0x200000023=0x02000301; 0x200000024=0x02010301; 0x200000037=0x03070201; 0x200000038=0x03000701:0x03010701:0x03020701;</parameter>
 <parameter db="secure" name="long_press_timeout">500</parameter>
 <parameter db="secure" name="touch_exploration_enabled">0</parameter>
 <parameter db="secure" name="speak_password">0</parameter>
 <parameter db="secure" name="kt_3g_vcc_activate">0</parameter>
 <parameter db="secure" name="kt_3g_vcc_activate_alert">1</parameter>
 <parameter db="secure" name="sim_type_settings">0</parameter>
 <parameter db="secure" name="usim_perso_locked">0</parameter>
 <parameter db="secure" name="enable_menu_without_usim">1</parameter>
 <parameter db="secure" name="sim_err_popup_msg">0</parameter>
 <parameter db="secure" name="preferred_data_network_mode">1</parameter>
 <parameter db="secure" name="data_network_wait_for_paypopup_response">0</parameter>
 <parameter db="secure" name="data_network_user_paypopup_response">0</parameter>
 <parameter db="secure" name="data_network_user_paypopup_transition_from_wifi_to_mobile">0</parameter>
 <parameter db="secure" name="current_mcc">000</parameter>
 <parameter db="secure" name="intent_old_mcc">000</parameter>
 <parameter db="secure" name="data_network_user_background_setting_data">1</parameter>
 <parameter db="secure" name="frontkey_led_timeout">1500</parameter>
 <parameter db="secure" name="skt_roaming_dualclock">0</parameter>
 <parameter db="secure" name="oem_rad_setting">1</parameter>
 <parameter db="secure" name="oem_rad_test">0</parameter>
 <parameter db="secure" name="oem_rad_test_rcv_prfix">82</parameter>
 <parameter db="secure" name="oem_rad_dialer_popup">0</parameter>
 <!--<parameter db="secure" name="android_id">6de64033a020e937</parameter>-->
 <parameter db="secure" name="enabled_input_methods">com.lge.ime/.LgeImeImpl:com.google.android.voicesearch/.ime.VoiceInputMethodService</parameter>
 <parameter db="secure" name="input_methods_subtype_history"></parameter>
 <parameter db="secure" name="selected_input_method_subtype">-1</parameter>
 <parameter db="secure" name="default_input_method">com.lge.ime/.LgeImeImpl</parameter>
 <parameter db="secure" name="adb_enabled">0</parameter>
 <parameter db="secure" name="voice_recognition_service">com.google.android.voicesearch/.GoogleRecognitionService</parameter>
 <!--<parameter db="secure" name="throttle_reset_day">19</parameter>-->
 <parameter db="secure" name="subscription_mode">0</parameter>
 <parameter db="secure" name="lge_mmsc_gateway_domain">mmsr.ez-i.co.kr</parameter>
 <parameter db="secure" name="lge_mmsc_gateway_ip">mmsr.ez-i.co.kr</parameter>
 <parameter db="secure" name="lge_mmsc_proxy_domain">mmsc.ez-i.co.kr</parameter>
 <parameter db="secure" name="lge_mmsc_proxy_ip">mmsc.ez-i.co.kr</parameter>
 <parameter db="secure" name="device_provisioned">1</parameter>
 <parameter db="system" name="volume_music">7</parameter>
 <parameter db="system" name="volume_ring">5</parameter>
 <parameter db="system" name="volume_system">4</parameter>
 <parameter db="system" name="volume_voice">6</parameter>
 <parameter db="system" name="volume_alarm">6</parameter>
 <parameter db="system" name="volume_notification">5</parameter>
 <parameter db="system" name="volume_bluetooth_sco">7</parameter>
 <parameter db="system" name="mode_ringer">2</parameter>
 <parameter db="system" name="vibrate_on">10</parameter>
 <parameter db="system" name="mode_ringer_streams_affected">130</parameter>
 <parameter db="system" name="mute_streams_affected">46</parameter>
 <parameter db="system" name="dim_screen">1</parameter>
 <parameter db="system" name="stay_on_while_plugged_in">0</parameter>
 <parameter db="system" name="emergency_tone">0</parameter>
 <parameter db="system" name="call_auto_retry">0</parameter>
 <parameter db="system" name="dtmf_tone_type">0</parameter>
 <parameter db="system" name="hearing_aid">0</parameter>
 <parameter db="system" name="tty_mode">0</parameter>
 <parameter db="system" name="airplane_mode_on">0</parameter>
 <parameter db="system" name="airplane_mode_radios">cell,bluetooth,wifi,nfc</parameter>
 <parameter db="system" name="airplane_mode_toggleable_radios">bluetooth,wifi,nfc</parameter>
 <parameter db="system" name="auto_time">1</parameter>
 <parameter db="system" name="auto_time_zone">1</parameter>
 <parameter db="system" name="screen_brightness_mode">0</parameter>
 <parameter db="system" name="front_key_light_prevalue">1500</parameter>
 <parameter db="system" name="pouch_new_event">0</parameter>
 <parameter db="system" name="pouch_preset_or_custom">0</parameter>
 <parameter db="system" name="pouch_preset_screen_image_path">0</parameter>
 <parameter db="system" name="pouch_clock">0</parameter>
 <parameter db="system" name="pouch_clock_mode">0</parameter>
 <parameter db="system" name="pouch_clock_position">0</parameter>
 <parameter db="system" name="pouch_clock_font">0</parameter>
 <parameter db="system" name="window_animation_scale">1.0</parameter>
 <parameter db="system" name="transition_animation_scale">1.0</parameter>
 <parameter db="system" name="accelerometer_rotation">1</parameter>
 <parameter db="system" name="haptic_feedback_enabled">1</parameter>
 <parameter db="system" name="notification_light_pulse">0</parameter>
 <parameter db="system" name="set_install_location">0</parameter>
 <parameter db="system" name="default_install_location">0</parameter>
 <parameter db="system" name="power_sounds_enabled">1</parameter>
 <parameter db="system" name="low_battery_sound">/system/media/audio/ui/LowBattery.ogg</parameter>
 <parameter db="system" name="dtmf_tone">1</parameter>
 <parameter db="system" name="sound_effects_enabled">0</parameter>
 <parameter db="system" name="dock_sounds_enabled">0</parameter>
 <parameter db="system" name="desk_dock_sound">/system/media/audio/ui/Dock.ogg</parameter>
 <parameter db="system" name="desk_undock_sound">/system/media/audio/ui/Undock.ogg</parameter>
 <parameter db="system" name="car_dock_sound">/system/media/audio/ui/Dock.ogg</parameter>
 <parameter db="system" name="car_undock_sound">/system/media/audio/ui/Undock.ogg</parameter>
 <parameter db="system" name="lockscreen_sounds_enabled">0</parameter>
 <parameter db="system" name="lock_sound">/system/media/audio/ui/Lock.ogg</parameter>
 <parameter db="system" name="unlock_sound">/system/media/audio/ui/Unlock.ogg</parameter>
 <parameter db="system" name="usb_connected_sound">/system/media/audio/ui/LG_Cable_Connect.ogg</parameter>
 <parameter db="system" name="vibrate_in_silent">1</parameter>
 <parameter db="system" name="pointer_speed">0</parameter>
 <parameter db="system" name="numlocdisp_pb_on">1</parameter>
 <parameter db="system" name="numlocdisp_sms_on">1</parameter>
 <parameter db="system" name="numlocdisp_call_on">1</parameter>
 <parameter db="system" name="ip_code_number"></parameter>
 <parameter db="system" name="gesture_home_rearrange">0</parameter>
 <parameter db="system" name="gesture_all_editor">0</parameter>
 <parameter db="system" name="gesture_voice_call">0</parameter>
 <parameter db="system" name="gesture_alarm">0</parameter>
 <parameter db="system" name="gesture_image_viewer">0</parameter>
 <parameter db="system" name="gesture_image_panning">0</parameter>
 <parameter db="system" name="gesture_video_player">0</parameter>
 <parameter db="system" name="gesture_tilt_value">2</parameter>
 <parameter db="system" name="gesture_tilt_default_use">1</parameter>
 <parameter db="system" name="time_12_24">12</parameter>
 <parameter db="system" name="date_format"></parameter>
 <parameter db="system" name="user_set_locale">0</parameter>
 <parameter db="system" name="power_save_mode">30</parameter>
 <parameter db="system" name="power_save_mode_activated">0</parameter>
 <parameter db="system" name="power_save_wifi">1</parameter>
 <parameter db="system" name="power_save_sync">0</parameter>
 <parameter db="system" name="power_save_bt">1</parameter>
 <parameter db="system" name="power_save_gps">1</parameter>
 <parameter db="system" name="power_save_nfc">1</parameter>
 <parameter db="system" name="power_save_cpu_adjust">1</parameter>
 <parameter db="system" name="power_save_cpu">1</parameter>
 <parameter db="system" name="power_save_brightness_adjust">1</parameter>
 <parameter db="system" name="power_save_brightness">20</parameter>
 <parameter db="system" name="power_save_brightness_mode">1</parameter>
 <parameter db="system" name="power_save_animations">0</parameter>
 <parameter db="system" name="power_save_enabled">0</parameter>
 <parameter db="system" name="power_save_touch">1</parameter>
 <parameter db="system" name="power_save_screen_timeout">15000</parameter>
 <parameter db="system" name="power_save_screen_timeout_adjust">1</parameter>
 <parameter db="system" name="power_save_front_led">1500</parameter>
 <parameter db="system" name="power_save_front_led_adjust">1</parameter>
 <parameter db="system" name="power_save_battery_indicator">0</parameter>
 <parameter db="system" name="power_save_wifi_restore">0</parameter>
 <parameter db="system" name="power_save_sync_restore">0</parameter>
 <parameter db="system" name="power_save_bt_restore">0</parameter>
 <parameter db="system" name="power_save_nfc_restore">0</parameter>
 <parameter db="system" name="power_save_touch_restore">0</parameter>
 <parameter db="system" name="power_save_screen_timeout_restore">1</parameter>
 <parameter db="system" name="power_save_cpu_restore">-1</parameter>
 <parameter db="system" name="power_save_brightness_restore">-1</parameter>
 <parameter db="system" name="power_save_front_led_restore">-1</parameter>
 <parameter db="system" name="eco_mode">0</parameter>
 <parameter db="system" name="wifi_sleep_policy">2</parameter>
 <parameter db="system" name="multi_sim_voice_call">0</parameter>
 <parameter db="system" name="multi_sim_data_call">0</parameter>
 <parameter db="system" name="multi_sim_sms">0</parameter>
 <parameter db="system" name="tethering_time">300000</parameter>
 <parameter db="system" name="wifi_activation_while_charging">0</parameter>
 <parameter db="system" name="wifi_offloading_timer_value">1800000</parameter>
 <parameter db="system" name="wifi_networks_available_auto_on">1</parameter>
 <parameter db="system" name="wifi_networks_available_auto_connect">0</parameter>
 <parameter db="system" name="wifi_large_file_transfer_browser">1</parameter>
 <parameter db="system" name="sim_theme">0</parameter>
 <parameter db="system" name="sim_icon_1">0</parameter>
 <parameter db="system" name="sim_icon_2">0</parameter>
 <parameter db="system" name="mynetwork_1"></parameter>
 <parameter db="system" name="mynetwork_2"></parameter>
 <parameter db="system" name="sim_check1">0</parameter>
 <parameter db="system" name="sim_check2">0</parameter>
 <parameter db="system" name="wifi_before_detailed_state">0</parameter>
 <parameter db="system" name="autorun_switch">1</parameter>
 <parameter db="system" name="usb_ask_on_connection">1</parameter>
 <parameter db="system" name="roaming_auto_dial">0</parameter>
 <parameter db="system" name="fm_svcst_bluetooth_fm_receiver_service">1</parameter>
 <parameter db="system" name="fm_svcst_bluetooth_fm_transmitter_service">1</parameter>
 <parameter db="system" name="fm_svcst_init">1</parameter>
 <parameter db="system" name="bt_svcst_bluetooth_bpp_service">0</parameter>
 <parameter db="system" name="bt_svcst_bluetooth_dm_service">1</parameter>
 <parameter db="system" name="bt_svcst_bluetooth_dun">0</parameter>
 <parameter db="system" name="bt_svcst_bluetooth_ftp">1</parameter>
 <parameter db="system" name="bt_svcst_bluetooth_gatt">0</parameter>
 <parameter db="system" name="bt_svcst_bluetooth_opp_service">1</parameter>
 <parameter db="system" name="bt_svcst_bluetooth_pbap">1</parameter>
 <parameter db="system" name="bt_svcst_bluetooth_sap">0</parameter>
 <parameter db="system" name="bt_svcst_bluetooth_map">0</parameter>
 <parameter db="system" name="bt_svcst_bluetooth_test">1</parameter>
 <parameter db="system" name="bt_svcst_bluetooth_avrcp">1</parameter>
 <parameter db="system" name="bt_svcst_bluetooth_fm_receiver_service">0</parameter>
 <parameter db="system" name="bt_svcst_bluetooth_flick">0</parameter>
 <parameter db="system" name="bt_svcst_bluetooth_hid">1</parameter>
 <parameter db="system" name="bt_svcst_bluetooth_pan">0</parameter>
 <parameter db="system" name="bt_svcst_bluetooth_hdp">0</parameter>
 <parameter db="system" name="bt_svcst_init">1</parameter>
 <!--<parameter db="system" name="temp_usb_connected">1</parameter>-->
 <parameter db="system" name="next_alarm_formatted"></parameter>
 <!--<parameter db="system" name="shop_mode">1</parameter>-->
 <!--<parameter db="system" name="screen_off_timeout">120000</parameter>-->
 <!--<parameter db="system" name="screen_brightness">255</parameter>-->
 <parameter db="system" name="power_save_started">-1</parameter>
 <parameter db="system" name="alarm_alert">content://media/internal/audio/media/5</parameter>
 <parameter db="system" name="notification_sound">content://media/internal/audio/media/25</parameter>
 <parameter db="system" name="ringtone">content://media/internal/audio/media/39</parameter>
 <parameter db="system" name="temp_delay_launcher">0</parameter>
 <!--<parameter db="system" name="LargeText_Flag">0</parameter>-->
</parameters>
